/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}


.text-gold {
    color: #FFC700;
}

.text-blue {
    color: #00A3FF;
}

.text-green {
    color: #2DD690;
}

.text-red {
    color: #F1416C;
}

.text-gray {
    color: #C3C6D1;
}

.text-purple {
    color: #F6F1FC;
}



.background-green {
    background-color: #E7F6FF !important;
}

.background-gold {
    background-color: #FFF8DD !important;
}

.background-blue {
    background-color: #E7F6FF !important;
}

.background-red {
    background-color: #FFF3F6 !important;
}

.background-gray {
    background-color: #f0f0f0 !important;
}



.text-bold {
    font-weight: bold;
}


.cursor-pointer {
    cursor: pointer;
}
